/** 
 BASIC CALC
*/

.calc-wrapper {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .calc {
      width: 50vw;
      border: 2px solid var(--mid);
      border-radius: 5px;
      height: 800px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      .calc-top {
        max-height: 400px;
        height: 400px;
      }
      .basic-calc-history {
        overflow: scroll; 
        display: flex;
        flex-direction: column-reverse;
        height: 90%;
        display: flex;
        flex-direction: column-reverse;
        .history-item {
          border-top: 2px solid var(--mid);
          display: flex;
          flex-direction: row;
          padding: 5px;
          cursor: pointer;
          .history-item-equation {
            height: 70%;
            width: 70%;
            background-color: transparent;
            border: none;
            outline: none !important;
            color: var(--text);
            font-family: var(--math-font);
            font-size: 21px;
            font-style: italic;
          }
          .history-item-answer {
            height: 100%;
            width: 50%;
            display: flex;
            justify-content: right;
            align-items: center;
            color: var(--text);
            font-family: var(--math-font);
            font-size: 21px;
            transition: 1s;
          }
        }
      }
      .basic-calc-input {
        border-top: 2px solid var(--mid);
        height: 8%;
        padding: 5px;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        overflow: visible;
        input {
          height: 70%;
          width: 70%;
          background-color: transparent;
          border: none;
          outline: none !important;
          color: var(--text);
          font-family: var(--math-font);
          font-size: 21px;
          font-style: italic;
        }
        .basic-calc-answer {
          height: 70%;
          width: 50%;
          display: flex;
          justify-content: right;
          align-items: center;
          color: var(--text);
          font-family: var(--math-font);
          font-size: 21px;
          transition: .5s;
        }
        #calc-ans {
          opacity: 0;
          transition: 1s;
        }
      }
      .basic-calc-keyboard {
        background-color: var(--mid);
        height: 400px;
        display: flex;
        flex-direction: row;
        padding: 10px;
        justify-content: center;
        align-items: center;
        div {
          display: flex;
          flex-direction: row;
          #numbers {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            [id$="-number-row"] button {
              width: 70px;
              height: 70px;
              margin: 2.5px;
              background-color: var(--foreground) !important;
              border-color: var(--foreground) !important;
              color: var(--text) !important;
            }
            #zero {
              width: 145px;
            }
          }
          #sidebar {
            #first-sidebar {
              display: flex;
              flex-direction: column;
              border-right: 2px solid var(--foreground);
              padding-right: 5px;
              button {
                width: 70px;
                height: 70px;
                margin: 2.5px;
                background-color: var(--foreground) !important;
                border-color: var(--foreground) !important;
                color: var(--text) !important;
              }
              :nth-child(2), :nth-child(3) {
                height: 145px;
              }
            }
            #second-sidebar {
              display: flex;
              flex-direction: column;
              padding-left: 5px;
              button {
                width: 70px;
                height: 70px;
                margin: 2.5px;
                background-color: var(--foreground) !important;
                border-color: var(--foreground) !important;
                color: var(--text) !important;
              }
            }
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 900px) {
    .calc {
      width: 100vw !important;
    }
  }