#loan-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    #loan {
        width: 50vw;
        height: 1000px;
        border: 5px solid var(--foreground);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        #loan-input-output {
            width: 100%;
            height: 1400px;
            display: flex;
            flex-direction: column;
            #loan-input-panel {
                height: 40%;
                width: 100%;
                background-color: var(--foreground);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h2 {
                    color: var(--text);
                    font-family: var(--font);
                    font-weight: 200;
                    font-size: 15px;
                    margin-left: 0px;
                    margin-bottom: -10px;
                    width: 85%;
                }
                .loan-input-dollar {
                    margin: 10px;
                    margin-left: -5px;
                    width: 85%;
                    input {
                        border-left-color: var(--mid) !important;
                    }
                }
                .loan-input-time {
                    width: 30%;
                    border-radius: 5px 0 0 5px !important;
                    
                }
                .time-picker-item {
                    width: 35%;
                    color: var(--text);
                    font-family: var(--font);
                    font-weight: 200;
                    font-size: 15px;
                    background-color: var(--mid);
                    display: flex;
                    justify-content: center;
                    align-items: end;
                    cursor: pointer;
                    border-bottom: 2.5px solid transparent;
                }
                .time-picker-item-active {
                    border-bottom: 2.5px solid #1677ff;
                }
                #loan-input-time-wrapper {
                    margin: 10px;
                    margin-left: -5px;
                    width: 85%;
                    display: flex;
                    flex-direction: row;
                    :last-child {
                        border-radius:  0 5px 5px 0 !important;
                    }
                    .loan-input-time {
                        width: 30%;
                        border-radius: 5px 0 0 5px !important;
                        
                    }
                    .time-picker-item {
                        width: 35%;
                        color: var(--text);
                        font-family: var(--font);
                        font-weight: 200;
                        font-size: 15px;
                        background-color: var(--mid);
                        display: flex;
                        justify-content: center;
                        align-items: end;
                        cursor: pointer;
                        border-bottom: 2.5px solid transparent;
                    }
                    .time-picker-item-active {
                        border-bottom: 2.5px solid #1677ff;
                    }
                }
                #apr-calc-group {
                    display: flex;
                    flex-direction: row;
                    margin-left: -5px;
                    width: 85%;
                    justify-content: center0;
                    align-items: center;
                    div {
                        width: 50%;
                        .loan-input-apy {
                            margin: 10px;
                            margin-left: -5px;
                            width: 95%;
                            input {
                                border-right-color: var(--mid) !important;
                            }
                            .ant-input-group-addon {
                                border-right-color: #0d1114 !important;
                            }
                        }
                    }
                    #calculate-loan {
                        width: 50%;
                        margin-top: 20px;
                    }
                }

                #show-hide-table-btn {
                    height: auto;
                    align-self: center;
                    a {
                        color: #1677ff;
                        font-size: 10.5px;
                        text-decoration: none;
                        font-family: var(--font);
                        
                    }
                    :hover {
                        text-decoration: underline dashed #1677ff !important;
                    }
                }

            }
        }

        #loan-output-panel {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 60%;
            width: 100%;
            font-family: var(--text);
            #monthly-payment {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1 {
                    color: var(--text);
                    font-family: var(--font);
                    margin-top: -25px;
                }
                p {
                    color: var(--text);
                    font-family: var(--font);
                    font-weight: 200;
                }
            }
            span {
                width: 100%;
                height: 250px;
            }
            #loan-breakdown {
                h2 {
                    color: var(--text);
                    font-family: var(--font);
                }
                hr {
                    color: var(--text);
                }
                .loan-breakdown-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    color: var(--text);
                    font-family: var(--font);
                    font-weight: 200;
                    font-size: 12px;
                    align-items: center;
                    #total-sq {
                        width: 25px;
                        height: 25px;
                        background-color: #1677ff;
                        border: 1.5px solid #166de8;
                    }
                    #int-sq {
                        width: 25px;
                        height: 25px;
                        background-color: #ffc658;
                        border: 1.5px solid #dfb355;
                    }
                }
            }
        }
    }
}



// MOBILE STUFF

@media only screen and (max-width: 900px) {
    #loan-wrapper {
        padding: 0 !important;
    }
    #loan {
        width: 100vw !important;
    }
    #loan-output-panel {
        margin-top: -150px !important;
    }
    #loan-input-output {
        height: 2000px !important;
    }
    // #loan-wrapper {
    //     padding: 0 !important;
    //     // padding-top: 50px !important;
    //     padding-bottom: 50px !important;
    //     #loan {
    //       width: 100vw !important;
    //       #loan-output-panel {
    //         span {
    //             height: 1000px !important;
    //         }
    //       }
    //     }
    // }
    // #apr-calc-group {
    //     div {
    //         width: 50% !important;
    //     }
    //     #calculate-loan {
    //         width: 50% !important;
    //     }
    // }
    
}